.css-j5r0tf {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #7e99ab;
}

.diagnosis {
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.diagnosis.benign {
  background-color: #01db4b;
}

.diagnosis.malicious {
  background-color: #ff4b4b;
}
